.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    max-width: 150px;
    margin-top: -50px;
}

.navbar {
    -webkit-box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    height: 100px;
    padding: 0;
    z-index: 10;
    background: #fff;
}

.navbar ul {
    list-style: none;
}

.navbar-logo {
    width: 250px;
}

.navbar img {
    max-width: 250px;
    margin-left: 50px;
}

.btn {
    padding: 10px 15px;
    border: 1px solid #ffc107 !important;
    background-color: rgb(255, 232, 51);
    border-radius: 5px;
    outline: none;
    color: #000000;
    position: relative;
}

.btn:hover {
    background: #ffd107;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.btn i {
    position: relative;
    top: 3px;
    font-size: 18px;
}

.header-btn {
    margin: 10px;
}

.logout-btn {
    margin-left: 0;
}