
.navbar {
    -webkit-box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    height: 100px;
    padding: 0;
    z-index: 10;
    background: #fff;
}

.navbar ul {
    list-style: none;
}

.navbar-logo {
    width: 250px;
}

.navbar img {
    max-width: 250px;
    margin-left: 50px;
}

.login-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto 0 auto;
    text-align: center;
}

.login-overlay {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

.login-form {
    width: 400px;
    background: #c7eeff;
    padding: 50px 30px 50px 30px;
    margin: 150px auto 100%;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
}

.login-form label {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 10px;
    padding-left: 5px;
    color: #000000;
}

.login-form input {
    font-size: 12px;
    border-radius: 5px;
    height: auto;
    margin-top: 3px;
    padding: 7px 10px;
    color: #333;
    width: 100% !important;
}

.login-form input[type="submit"] {
    border: 1px solid #ffc107;
    border-radius: 5px;
    padding: 7px 20px;
    margin: 35px 90px 0 0;
    font-size: 12px;
    color: #000000;
    background-color: rgb(255, 232, 51);
}

.login-form input[type="submit"]:hover {
    background: #ffd107;
    color: #000000 !important;
    cursor: pointer;
    text-decoration: none;
}

.login-form h2 {
    font-size: 18px;
}

.error-message {
    display: none;
    border-color: #cc0000;
    color: #cc0000;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cc0000;
    width: 100%;
    font-size: 12px;
}

.error-message i {
    margin-right: 10px;
}

.not-found-message {
    margin-top: 50px;
    background-color: #fff;
    color: #5d5d5d;
}